@charset "utf-8";
header > a{
	width: 1.08rem;
	height: 0.24rem;
	background: url(../images/SHOOT.png) no-repeat;
	background-size: 100% 100%;
}
body {
	background: url(../images/SHOOTbg.png);
	background-size: 100% auto;
    overflow-x:visible;

}
html {
    overflow-x:visible;
}
.Previousdetails{
	margin-top: 0.86rem;
	width: 7.5rem;
	overflow: hidden;
	/*height: 7.5rem;*/
	position: relative;
}
.Previousdetails h3{
	text-align: center;
	margin: 0.45rem auto;
	font-size: 0.33rem;
}

.Previousdetails .Previousdetailsvideo{
	width: 100%;
	height: 5rem;
}

.Previousdetails .Previousdetailsvideo iframe{
	width: 100%;
	height: 100%;
}
.copyright{
	z-index: 2;
	background: #000;
	height: 0.35rem;
	text-align: center;
	display: block;
	width: 100%;
    position: fixed;
    bottom: 0;
}
footer{
    z-index:987654322;
	background: #212121;
	text-align: center;
	overflow: hidden;
	padding-bottom: 0.3rem;
        position: fixed;
    width: 100%;
    bottom: 0.35rem;
}

@media screen and (min-height:724px) {
    .copyright {
        height: 0.65rem;
    }

    footer {
        bottom:0.65rem;
    }
}

